@charset "utf-8";

.construction *{
	font-family: "Impact", "Blippo", "Stencil Std", "Arial Black", fantasy, monospace, sans-serif;
}
html.construction{
	--main_color: #111;
	--secondary_color: #fd3;
	--background_color: #985;
}
.construction body{
	text-shadow: 0 0 3px black;
	background-image: 
	repeating-linear-gradient(
		45deg,
		rgb(0 0 0 / 0.1),
		transparent .2em,
		transparent 9.8em,
		rgb(255 255 255 / 0.1) 10em),
	repeating-linear-gradient(
		-45deg,
		rgb(0 0 0 / 0.1),
		transparent .2em,
		transparent 9.8em,
		rgb(255 255 255 / 0.1) 10em);
}
.construction img{
	padding: .1em;
	border-radius: .5em;
	box-shadow: 0 0 0 2px var(--main_color);
	outline: 2px dashed var(--secondary_color);
}
.construction a{
	text-decoration-style: solid;
	text-decoration-thickness: .1em;
}
.construction :is(a:hover, a:focus){
	text-decoration-style: dashed;
}
.construction a::before{
	content: "///";
}

.construction #options .current{
	border-width: 1px 2px;
	rotate: 10deg;
}

.construction section{
	text-align: justify;
	border: 0.2em solid #998;
	border-radius: .5em;
	background-color: #554;
	color: #eec;
	margin-inline: 1em;
	box-shadow: .1em .1em .1em #0008, .1em .1em .1em #0008 inset;
}
.construction section#sobre::before{
	content: "";
	position: absolute;
	height: calc(100% + 1em);
	width: .5em;
	top: -.5em;
	left: -.25em;
	border-radius: 1em;
	outline: 2px solid var(--main_color);
	box-shadow: 0 0 .3em, 0 0 .1em white inset;
	background-image: repeating-linear-gradient(45deg, var(--main_color), var(--main_color) 1em, var(--secondary_color) 1em, var(--secondary_color) 2em);
}
.construction section h1{
	margin-inline: -1em;
	border-radius: .2em;
	outline: 2px solid var(--main_color);
	box-shadow: 0 0 .3em, 0 0 .1em white inset;
	background-image: repeating-linear-gradient(45deg, currentcolor, currentcolor 1em, var(--secondary_color) 1em, var(--secondary_color) 2em);
	color: var(--main_color);
	text-shadow:
	-.1em -.1em var(--secondary_color),
	-.1em 0 var(--secondary_color),
	-.1em .1em var(--secondary_color),
	0 -.1em var(--secondary_color),
	0 .1em var(--secondary_color),
	.1em -.1em var(--secondary_color),
	.1em 0 var(--secondary_color),
	.1em .1em var(--secondary_color);
}
.construction form label + *{
	outline: .1em dashed var(--main_color);
	margin-top: .1em;
	outline-offset: .05em;
}
.construction button{
	background: #0008;
	border: .1em dashed;
	color: var(--secondary_color);
	box-shadow: 0 1px black;
}
.construction button:hover{
	border-style: solid dotted;
}

@media only screen and (max-width: 600px) {
	.construction section{
		text-align: left;
		margin-inline: .1em;
		padding: .25em;
	}
	.construction section h1{
		margin: -.2em;
		margin-bottom: 0;
	}
	.construction section > p{
		text-align: justify;
	}
}