@charset "utf-8";

.construction *{
	font-family: "Impact", "Blippo", "Stencil Std", fantasy, monospace;
}
html.construction{
	--main_color: #111;
	--secondary_color: #fd2;
	--background_color: #985;
}
.construction body{
	background-image: 
	repeating-linear-gradient(
		45deg,
		rgb(0 0 0 / 0.1),
		transparent .2em,
		transparent 9.8em,
		rgb(255 255 255 / 0.1) 10em),
	repeating-linear-gradient(
		-45deg,
		rgb(0 0 0 / 0.1),
		transparent .2em,
		transparent 9.8em,
		rgb(255 255 255 / 0.1) 10em);
}
.construction img{
	padding: .1em;
	border: .1em dashed white;
	border-radius: .5em;
}
.construction a{
	text-decoration-style: solid;
	text-decoration-thickness: .1em;
}
.construction :is(a:hover, a:focus){
	text-decoration-style: dashed;
}

.construction .link_list a{
	list-style-type: "/// ";
}

.construction #options .current{
	border-width: 2px 5px;
}

.construction section{
	text-align: justify;
	border: .3em double var(--main_color);
	border-radius: .5em;
	background-color: #665;
	color: #eec;
}
.construction section#sobre{
	border: .2em dashed var(--main_color);
	border-radius: 1em;
}
.construction section h1{
	margin-inline: -1em;
	padding: 0 1em;
	border-radius: .2em;
	outline: .1em solid var(--main_color);
	background-image: repeating-linear-gradient(45deg, currentcolor, currentcolor 1em, var(--secondary_color) 1em, var(--secondary_color) 2em);
	color: var(--main_color);
	text-shadow:
	-.1em -.1em var(--secondary_color),
	-.1em 0 var(--secondary_color),
	-.1em .1em var(--secondary_color),
	0 -.1em var(--secondary_color),
	0 .1em var(--secondary_color),
	.1em -.1em var(--secondary_color),
	.1em 0 var(--secondary_color),
	.1em .1em var(--secondary_color);
}
.construction form label + *{
	outline: .1em dashed var(--main_color);
	margin-top: .1em;
	outline-offset: .05em;
}
.construction button{
	background: #0008;
	border: .1em dashed;
	color: var(--secondary_color);
}
.construction button:hover{
	border-bottom-style: solid;
	border-top-style: solid;
}

@media only screen and (max-width: 600px) {
	.construction section{
		margin: 1em 0;
		text-align: left;
	}
	.construction section h1{
		margin-inline: auto;
	}
	.construction section > p{
		text-align: justify;
	}
}