@charset "utf-8";
*{
	font-size: 1em;
}
.transitioning *{
	transition: .5s;
}
html{
	font-size: 20px;
	scroll-behavior: smooth;
	--main_color: black;
	--secondary_color: blue;
	--background_color: white;
}
body{
	margin:0;
	padding:0;
	border:0;
	color: var(--main_color);
	background: var(--background_color);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
h1, h2{
	font-weight: normal;
	text-align: center;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	margin-right: 1em;
}
a{
	color: var(--secondary_color);
	text-decoration-thickness: 1px;
}
a:hover, a:focus{
	text-decoration-style: double;
}
.link_list a{
	display: list-item;
	list-style-position: inside;
}

.color_changer{
	color: var(--secondary_color);
}

#options{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

section{
	position: relative;
	margin: 3em;
	padding: 1em;
	max-width: 50ch;
	border-bottom: 1px solid;
}
section h1{
	margin: 0;
}
form{
	margin: 0;
	border-top: 1px solid;
}
form label{
	display: block;
	margin-top: 1em;
}
form label + *{
	padding: .25em .5em;
	box-sizing: border-box;
	width: 100%;
}
button{
	cursor: pointer;
	margin: 1em;
	padding: .5em 1em;
}

#sobre{
	display: grid;
	grid-template-areas: 
	"img h2"
	"p p";
	grid-template-columns: auto 1fr;
}
#sobre img{
	margin-right: 2em;
}
#sobre h2{
	margin: auto auto 0 0;
}
#sobre p{
	grid-area: p;
}

#sites div{
	margin: 2em 0;
	display: grid;
	grid-template-areas: 
	"img h2"
	"img p"
	"img a";
	grid-template-columns: auto 1fr;
}
#sites div:first-of-type{
	margin-top: 1em;
}
#sites div img{
	grid-area: img;
}
#sites div > *:not(img){
	margin: auto auto auto 0;
}
#sites > a:last-child{
	display: block;
	text-align: center;
}

#contato button{
	display: block;
	margin: 1em auto;
}

@media only screen and (max-width: 600px) {
	section{
		margin: 2em 0;
		padding: 0;
		flex: auto;
	}
	section > p{
		padding: 0 1em;
	}
	img{
		margin-right: .5em;
	}
	#sites h2{
		text-align: left;
	}
	#sites > a:last-child{
		margin-bottom: 1em;
	}
}

@media print{
	*,
	*::before,
	*::after,
	::first-letter,
	::placeholder{
		color-scheme: light !important;
		content: revert !important;
		box-shadow: revert !important;
		animation: revert !important;
		border: revert !important;
		border-radius: revert !important;
		text-shadow: revert !important;
		background: unset !important;
		color: unset !important;
	}
}