@charset "utf-8";
@keyframes bounce_vertical{
	0%,100%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(1em);
	}
}
@keyframes bounce_horizontal{
	0%,100%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(1em);
	}
}
*{
	font:normal 20px Courier New;
	text-transform: uppercase;
	text-shadow: 0 0 1em;
}
html{
	scroll-behavior: smooth;
	--main_hue: 200;
	--main_color: hsl(var(--main_hue) 100% 50%);
	--secondary_hue: 40;
	--secondary_color: hsl(var(--secondary_hue) 100% 50%);
	--transparent_main_color: hsl(var(--main_hue) 100% 50% / 10%);
	--transparent_secondary_color: hsl(var(--secondary_hue) 100% 50% / 10%);
	--background_color: hsl(var(--main_hue) 100% 2%);
	--main_border: 2px solid;
	--main_box_shadow: inset 0 0 1px 1px var(--background_color), 0 0 1px 1px var(--background_color), 0 0 10px, inset 0 0 10px;
}
body{
	margin:0;
	padding:0;
	border:0;
	color: var(--main_color);
	background: black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	overflow-x: hidden;
}
::first-letter{
	color: var(--secondary_color);
}
h1, h2{
	font-weight: normal;
	text-align: center;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	background: var(--background_color);
	padding: 5px;
	border-style: solid solid solid double;
	border-width: 1px 1px 1px 5px;
	box-shadow: var(--main_box_shadow);
}
a{
	text-decoration-thickness: 1px;
	color: var(--secondary_color);
}
a:hover, a:focus{
	text-decoration-style: double;
}
.link_list a{
	display: list-item;
	list-style-position: inside;
	list-style-type: "▫ ";
}
.link_list a:hover, .link_list a:focus{
	list-style-type: "▪ ";
}

.glitch{
	text-transform: lowercase;
}

@keyframes screen_lines{
	0%{
		background-position:0 0;
	}
	100%{
		background-position:0 50px;
	}
}
section{
	position: relative;
	border: var(--main_border);
	margin: 3em;
	padding: 1em;
	max-width: 50ch;
	box-shadow: var(--main_box_shadow);
	background: var(--transparent_main_color);
	background-image: 
	linear-gradient(0deg, transparent 24%, var(--transparent_main_color) 25%, transparent 26%, transparent 74%, var(--transparent_main_color) 75%, transparent 76%);
	background-size: 50px 50px;
	animation: screen_lines 10s linear infinite;
}
section::before,section::after{
	content: "";
	position: absolute;
	width: 0;
	height: 50%;
	left: -1em;
	bottom: 1em;
	border: 1px solid;
	color: var(--secondary_color);
	box-shadow: var(--main_box_shadow);
	animation: bounce_vertical 10s infinite;
}
section::after{
	width: 50%;
	height: 0;
	left: unset;
	right: 1em;
	bottom: -1em;
	animation-name: bounce_horizontal;
}
section h1{
	position: absolute;
	padding: 0 1em;
	margin: 0;
	top: -1em;
	border: var(--main_border);
	box-shadow: var(--main_box_shadow);
	background: var(--background_color);
	background-image: 
	linear-gradient(0deg, transparent 24%, var(--transparent_main_color) 25%, transparent 26%, transparent 74%, var(--transparent_main_color) 75%, transparent 76%);
	background-size: 50px 50px;
	animation: screen_lines 10s linear infinite;
}
form{
	margin: 0;
}
form label{
	display: block;
	margin-top: 1em;
}
form label + *{
	width: 100%;
	background: var(--background_color);
	border-bottom: var(--main_border);
	color: currentcolor;
}
form label + *:focus{
	color: var(--secondary_color);
}
button{
	all: unset;
	display: block;
	margin: 1em auto;
	border: var(--main_border);
	padding: .5em 1em;
	box-shadow: var(--main_box_shadow);
	color: var(--secondary_color);
}
button:hover{
	border-left: 5px double;
	border-right: 5px double;
}

#sobre{
	display: grid;
	grid-template-areas: 
	"img h2"
	"p p";
	grid-template-columns: auto 1fr;
}
#sobre img{
	margin-right: 2em;
}
#sobre h2{
	margin: auto auto 0 0;
}
#sobre p{
	grid-area: p;
}

#sites div{
	margin: 2em 0;
	display: grid;
	grid-template-areas: 
	"img h2"
	"img p"
	"img a";
	grid-template-columns: auto 1fr;
}
#sites div:first-of-type{
	margin-top: 1em;
}
#sites div img{
	grid-area: img;
	margin-right: 1em;
}
#sites div > *{
	margin: auto auto auto 0;
}
#sites > a:last-child{
	display: block;
	text-align: center;
}

@media print{
	*,
	*::before,
	*::after,
	::first-letter{
		content: revert !important;
		box-shadow: revert !important;
		animation: revert !important;
		border: revert !important;
		text-shadow: revert !important;
		background: revert !important;
		color: revert !important;
	}
}