@charset "utf-8";

.cyber *{
	font-family: "Courier New", "OCR A Std", "FreeMono", monospace;
	text-transform: uppercase;
	text-shadow: 0 0 1em;
}
html.cyber{
	color-scheme: dark;
	--main_hue: 200;
	--main_color: hsl(var(--main_hue) 100% 50%);
	--secondary_hue: 40;
	--secondary_color: hsl(var(--secondary_hue) 100% 50%);
	--transparent_main_color: hsl(var(--main_hue) 100% 50% / 10%);
	--transparent_secondary_color: hsl(var(--secondary_hue) 100% 50% / 10%);
	--background_color: hsl(var(--main_hue) 100% 2%);
	--main_border: 2px solid;
	--main_box_shadow: inset 0 0 1px 1px var(--background_color), 0 0 1px 1px var(--background_color), 0 0 10px, inset 0 0 10px;
}
.cyber body{
	background: black;
}
.cyber ::first-letter{
	color: var(--secondary_color);
}
.cyber img{
	background: var(--background_color);
	padding: 5px;
	border-style: solid solid solid double;
	border-width: 1px 1px 1px 5px;
	box-shadow: var(--main_box_shadow);
}
.cyber .link_list a{
	list-style-type: "▫ ";
}
.cyber .link_list :is(a:hover,a:focus){
	list-style-type: "▪ ";
}

.cyber .glitch{
	text-transform: lowercase;
	font-style: italic;
	text-shadow: none;
	box-shadow: none;
	opacity: .5;
	transition: .5s linear(
		1 0%, 1 10%,
		0 10%, 0 20%,
		1 20%, 1 80%,
		0 80%, 0 90%,
		1 90%, 1 100%
	);
}

.cyber #options .current{
	border-inline-width: 5px;
	margin-inline: calc(1em - 3px);
}

@keyframes screen_lines{
	0%{
		background-position:0 0;
	}
	100%{
		background-position:0 50px;
	}
}
.cyber section{
	border: var(--main_border);
	box-shadow: var(--main_box_shadow);
	background: var(--transparent_main_color);
	background-image: 
	linear-gradient(transparent 24%, var(--transparent_main_color) 25%, transparent 26%, transparent 74%, var(--transparent_main_color) 75%, transparent 76%);
	background-size: 50px 50px;
	animation: screen_lines 10s linear infinite;
}
.cyber section::before, .cyber section::after{
	content: "";
	position: absolute;
	border: 1px solid;
	color: var(--secondary_color);
	box-shadow: var(--main_box_shadow);
}
.cyber section::before{
	height: 50%;
	width: 0;
	left: -1em;
	top: 25%;
}
@keyframes border_piece{
	0%{
		left: calc(100% - 1em);
		scale: 0;
	}
	2%, 49%{
		scale: 1;
	}
	50%{
		scale: 0;
	}
	51%, 98%{
		scale: 1;
	}
	100%{
		left: 0;
		scale: 0;
	}
}
.cyber section::after{
	height: 4px;
	width: 1em;
	bottom: -4px;
	animation: 10s infinite border_piece linear;
}
.cyber section h1{
	position: absolute;
	padding: 0 1em;
	top: -1em;
	border: var(--main_border);
	box-shadow: var(--main_box_shadow);
	background: var(--background_color);
	background-image: 
	linear-gradient(transparent 24%, var(--transparent_main_color) 25%, transparent 26%, transparent 74%, var(--transparent_main_color) 75%, transparent 76%);
	background-size: 50px 50px;
	animation: screen_lines 10s linear infinite;
}
.cyber form label + *{
	background: var(--background_color);
	border-bottom: var(--main_border);
	color: currentcolor;
}
.cyber form label + *:focus{
	color: var(--secondary_color);
}
.cyber form label + :is(*:-webkit-autofill, *:autofill){
	/*hack to counter chrome stupid useragent stylesheet*/
	box-shadow: 0 0 0 2em var(--background_color) inset;
}
.cyber button{
	background: transparent;
	border: var(--main_border);
	box-shadow: var(--main_box_shadow);
	color: var(--secondary_color);
}
.cyber button:hover{
	border-left: 5px double;
	border-right: 5px double;
	margin-inline: calc(1em - 3px);
}

@media only screen and (max-width: 600px) {
	.cyber section::before{
		animation: none;
		content: none;
	}
}