@charset "utf-8";

.mars *{
	font-family: "Verdana", sans-serif;
}
html.mars{
	--main_color: brown;
	--secondary_color: pink;
	--background_color: white;
}
.mars body{
	background:black;
	color: white;
}
.mars body::before{
	content: "";
	position: fixed;
	width: 50vh;
	height: 50vh;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	background-color: black;
	box-shadow:
	0 -2vh 2vh -1vh pink,
	0 1vh 1vh -1vh pink inset,
	0 6vh 3vh -4vh brown inset,
	0 -50vh 50vh 10vw #00009933;
}
.mars img{
	border-radius: 10px;
	border: 1px solid;
	border-width: 0 2px 5px;
	color: var(--main_color);
}
.mars .link_list a{
	list-style-type: "⊙ ";
}

.mars #options .current{
	box-shadow: 0 0 0 white;;
	border-color: white;
	color: white;
}

.mars section{
	background-image: linear-gradient(#fff3, #F44336);
	border-radius: 10px;
	border: 1px solid white;
	border-width: 0px 2px 5px;
	box-shadow: 0 0.2em 1em white;
}
.mars form label + *{
	background: white;
	box-shadow:
	1em 0em 0.5em -1em var(--secondary_color) inset,
	-1em -1em 0.5em -1em var(--secondary_color) inset,
	0em 1em 0.5em -1em var(--main_color) inset;
	border: solid var(--main_color);
	border-width: 0 .2em;
	color: var(--main_color);
}
.mars form label + *::placeholder{
	color: var(--secondary_color);
}
.mars form label + *:focus{
	outline-color: var(--main_color);
}
.mars button{
	color: var(--main_color);
	border-radius: 10px;
	border: solid var(--main_color);
	border-width: 0 5px;
	background: transparent;
	box-shadow: 0 0 0.5em black inset, 0 3em 0 white inset;
	transition: .3s;
}
.mars button:hover{
	box-shadow: 0 0 0.5em black inset, 0 0.2em 0 white inset, 0 -1.5em 1em -0.5em white;
	color: white;
}

@media only screen and (max-width: 600px) {
	.mars section{
		margin: 1em 0;
		padding: .5em;
	}
}