@charset "utf-8";

.portfolio *{
	font-family: "Verdana", sans-serif;
}
html.portfolio{
	--main_color: white;
	--secondary_color: hsl(120deg 70% 60%);
	--background_color: hsl(200deg 100% 20%);
}
.portfolio body{
	color: var(--main_color);
	background-color: #123;
	background-image: radial-gradient(circle at top, #fff2, #0006);
	background-attachment: fixed;
}
.portfolio h1{
	margin-bottom: 1em;
}
.portfolio img{
	border-radius: .5em;
	border: .1em solid;
}
.portfolio .link_list a{
	list-style-type: disclosure-closed;
}

.portfolio #options .current{
	box-shadow: 0 0 0 3em var(--secondary_color) inset;
	color: var(--main_color);
}

.portfolio section{
	text-shadow: 1px 2px #0006;
	padding: 2em 3em 1em;
	background-image: radial-gradient(ellipse at top, #fff2, #0006);
	background-color: var(--background_color);
	border-radius: .5em;
	border: 2px solid #fff3;
	box-shadow: 0 0 0.5em black;
}
.portfolio form label + *{
	background: var(--main_color);
	border: solid;
	border-width: 0 .2em;
	color: var(--background_color);
}
.portfolio form label + *:focus{
	outline-color: var(--secondary_color);
}
.portfolio button{
	color: var(--secondary_color);
	border: .1em solid var(--secondary_color);
	background: transparent;
	box-shadow: 0 0 transparent inset;
}
.portfolio :is(button:hover,button:focus){
	box-shadow: 0 0 0 3px var(--background_color) inset;
	border-color: var(--secondary_color);
	color: var(--main_color);
	outline: 1px solid #fff3;
	outline-offset: 2px;
}

.portfolio #sites > a:last-child{
	margin-top: 3em;
}
.portfolio #options{
	margin-bottom: 2em;
}
.portfolio #contato button{
	margin-top: 2em;
}

.portfolio .highlight{
	--overflow: 3em;
	padding: .5em var(--overflow);
	margin-inline: calc(var(--overflow) * -1);
	backdrop-filter: brightness(1.1);
	border-block: .1em solid #fff6;
}

.portfolio section#sobre{
	padding: 0 1em 0 0;
	grid-template-areas:
	"img h2"
	"img p";
	grid-template-columns: 11em 1fr;
}
.portfolio section#sobre img{
	position: absolute;
	height: 10em;
	width: 10em;
	object-fit: cover;
	place-self: center;
	box-shadow: inherit;
	border:inherit;
}
.portfolio section#sobre h2{
	margin: .5em auto 0 0;
}

@media only screen and (max-width: 600px) {
	/* small size */
	.portfolio section{
		padding: 1em;
	}
	.portfolio .highlight{
		--overflow: 1em;
	}
	.portfolio section#sobre{
		grid-template-columns: 10em 1fr;
	}
	.portfolio section#sobre h2{
		margin: .5em auto 0 .5em;
	}
}