@charset "utf-8";

.portfolio *{
	font-family: "Verdana", sans-serif;
}
html.portfolio{
	--main_color: hsl(200deg 100% 20%);
	--secondary_color: hsl(120deg 70% 60%);
	--background_color: white;
}
.portfolio body{
	color: var(--background_color);
	background-image: linear-gradient(var(--main_color) -10%, var(--secondary_color) 200%);
}
.portfolio h1{
	margin-bottom: 1em;
}
.portfolio img{
	border-radius: .5em;
	border: .1em solid;
}
.portfolio .link_list a{
	list-style-type: "// ";
}

.portfolio #options .current{
	box-shadow: 0 0 0 3em var(--secondary_color) inset;
	color: var(--background_color);
}

.portfolio section{
	padding: 3em;
	background-image: linear-gradient(135deg,
		var(--main_color) 2em,
		var(--background_color) 2em,
		var(--background_color) 3em,
		var(--main_color) 3em,
		var(--main_color) calc(100% - 3em),
		var(--background_color) calc(100% - 3em),
		var(--background_color) calc(100% - 2em),
		var(--main_color) calc(100% - 2em)
		);
	border-radius: .5em;
	border: .1em solid var(--background_color);
	box-shadow: 0 1em 1em -1em black;
}
.portfolio form label + *{
	background: var(--background_color);
	border: solid;
	border-width: 0 .2em;
	color: var(--main_color);
}
.portfolio form label + *:focus{
	outline-color: var(--secondary_color);
}
.portfolio button{
	color: var(--secondary_color);
	border: .1em solid;
	border-radius: .5em;
	background: transparent;
	transition: .3s;
	box-shadow: 0 0 var(--background_color) inset;
}
.portfolio button:hover{
	box-shadow: 10em 0 var(--background_color) inset;
	border-color: var(--secondary_color);
	color: var(--main_color);
}

.portfolio #sites > a:last-child{
	margin-top: 3em;
}
.portfolio #options{
	margin-bottom: 2em;
}
.portfolio #contato button{
	margin-top: 3em;
}

@media only screen and (max-width: 600px) {
	.portfolio section{
		margin: 0;
		padding: 0;
	}
}