@charset "utf-8";

.slime *{
	font-family: "Comic Sans MS", "Comic Sans", "Bradley Hand", "Chalkboard SE", "Comic Neue", sans-serif;
	text-shadow: 1px 2px var(--main_color_dark);
}
html.slime{
	--main_hue: 100;
	--main_color: hsl(var(--main_hue) 100% 50%);
	--main_color_light: hsl(var(--main_hue) 100% 75%);
	--main_color_dark: hsl(var(--main_hue) 100% 25%);

	--transition_function: linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}
.slime body{
	background-color: #123;
}

.slime section{
	--main_color: hsl(var(--main_hue) 100% 50%);
	--main_color_light: hsl(var(--main_hue) 100% 75%);
	--main_color_dark: hsl(var(--main_hue) 100% 25%);

	color: var(--background_color);
	background-color: var(--main_color);
	padding: 2em;
	border: none;
	outline: .25em solid var(--main_color_light);
	outline-offset: -.5em;
}
.slime section:nth-child(4n+1){
	--main_hue: 100;
}
.slime section:nth-child(4n+2){
	--main_hue: 190;
}
.slime section:nth-child(4n+3){
	--main_hue: 320;
}
.slime section:nth-child(4n+4){
	--main_hue: 50;
}

.slime :is(section, img, button, input, textarea){
	--variable_radius_1: 3em;
	--variable_radius_2: 3em;
	--variable_radius_3: 3em;
	--variable_radius_4: 3em;
	border-radius:
	var(--variable_radius_1)
	var(--variable_radius_2)
	var(--variable_radius_3)
	var(--variable_radius_4);
	transition: border-radius 4s var(--transition_function);
}
.slime button{
	border: none;
	text-shadow: 0 2px var(--main_color_light);
	transition:
	border-radius 4s var(--transition_function),
	padding 1s var(--transition_function),
	margin 1s var(--transition_function);
}
.slime :is(button:hover,button:focus), .slime button.current{
	padding: 1em .5em;
	margin: -.5em .5em;
}

.slime #contato :is(button:hover,button:focus){
	padding: 1em .5em;
	margin: .5em auto;
}
.slime :is(img, button){
	background-color: var(--main_color_light);
	color: var(--main_color_dark);
	border-bottom: 2px solid;
}

.slime :is(a, .color_changer){
	--secondary_color: hsl(var(--main_hue) 100% 20%);
	text-shadow: 0 2px hsl(var(--main_hue) 100% 60%);
}
.slime a::before{
	scale:2;
}

.slime form{
	border-top: .1em solid var(--main_color_light);
}
.slime form label + *{
	color: var(--main_color_dark);
	border: 3px solid var(--main_color_light);
	text-shadow: 0 2px var(--main_color_light);
}

@media only screen and (max-width: 600px) {
	.slime section{
		padding-inline: 1em;
	}
	.slime #sobre img{
		margin-left: 1em;
	}
}